@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100%;
  margin: 0;
}
#__next,
#root {
  height: 100%;
}
@layer components {
  .input {
    @apply bg-white text-black h-10 px-2 placeholder-stone-500 rounded-lg;
  }
  .input:focus {
    @apply outline-blue-800;
  }
}
